@model MovCat.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Вход";
}
<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login">

    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <div>Логин</div>
        <input type="text" asp-for="Login" name="Login" />
    </div>

    <div class="form-group">
        <div>Пароль</div>
        <input type="text" asp-for="Password" name="Password" />
    </div>

     <button class="btn btn-success" type="submit"><i class="fas fa-door-open"></i> Вход</button>

</form>