@using MovCat.ViewModels;
@using MovCat.Models;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper MovCat.Infrastructure.*, MovCat


@*<form asp-action="Edit" method="post">
    <span asp-validation-for="All" class="text-danger"></span>
    <div class="form-group">
        <div>Название</div>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <div>Описание</div>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <div>Год выпуска</div>
        <input asp-for="CreatedYear" class="form-control" />
    </div>

    <div class="form-group">
        <div>Режисер</div>
        <input asp-for="Director" class="form-control" />
    </div>

    <img class="img-fluid col-6" src="@Model.FilePath" />
    <input asp-for="userID" type="hidden" class="hidden" />

    <div class="text-center">
        <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Сохранить</button>
        <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-circle-left"></i> Назад</a>
    </div>
</form>*@